{% extends "gym/base.html" %}

{% block title %}
    Detalhes da Matrícula - PowerOn
{% endblock %}

{% block content %}

<h1>DETALHES DA MATRÍCULA</h1>

<p>
    <strong>Código:</strong>
    {{ matricula.codigo_matr }}
</p>

<p>
    <strong>Aluno:</strong>
    {{ matricula.nome_aluno }}
</p>

<p>
    <strong>Modalidade:</strong>
    {{ matricula.descricao_modalidade }}
</p>

<p>
    <strong>Quantidade de aulas:</strong>
    {{ matricula.qtde_aulas }}
</p>

<hr>

<a href="{% url 'gym:matriculas_editar' matricula.codigo_matr %}">
    Editar matrícula
</a>

<a href="{% url 'gym:matriculas_excluir' matricula.codigo_matr %}">
    Excluir matrícula
</a>

<a href="{% url 'gym:matriculas_lista' %}">
    Voltar para matrículas
</a>

{% endblock %}