{% extends "gym/base.html" %}

{% block title %}
    Detalhes da Matrícula - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>

            <h1>DETALHES DA MATRÍCULA</h1>

            <p>
                Informações da matrícula cadastrada.
            </p>

        </div>

    </div>


    <div class="detalhes-card">

        <div class="detalhes-item">

            <strong>
                Código
            </strong>

            <span>
                {{ matricula.codigo_matr }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Aluno
            </strong>

            <span>
                {{ matricula.nome_aluno }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Modalidade
            </strong>

            <span>
                {{ matricula.descricao_modalidade }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Quantidade de aulas
            </strong>

            <span>
                {{ matricula.qtde_aulas }}
            </span>

        </div>


        <div class="form-actions">

            <a
                href="{% url 'gym:matriculas_editar' matricula.codigo_matr %}"
                class="btn"
            >
                Editar matrícula
            </a>


            <a
                href="{% url 'gym:matriculas_excluir' matricula.codigo_matr %}"
                class="btn btn-perigo"
            >
                Excluir matrícula
            </a>


            <a
                href="{% url 'gym:matriculas_lista' %}"
                class="btn btn-verde"
            >
                Voltar para matrículas
            </a>

        </div>

    </div>

</div>

{% endblock %}