{% extends "gym/base.html" %}

{% block title %}
    Matrículas - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>
            <h1>MATRÍCULAS</h1>

            <p>
                Gerencie as matrículas da academia.
            </p>
        </div>

        <a
            href="{% url 'gym:matriculas_cadastrar' %}"
            class="btn"
        >
            + Nova matrícula
        </a>

    </div>


    {% if matriculas %}

        <div class="table-container">

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Aluno</th>
                        <th>Modalidade</th>
                        <th>Quantidade de aulas</th>
                        <th>Ações</th>
                    </tr>

                </thead>

                <tbody>

                    {% for matricula in matriculas %}

                        <tr>

                            <td>
                                {{ matricula.codigo_matr }}
                            </td>

                            <td>
                                {{ matricula.nome_aluno }}
                            </td>

                            <td>
                                {{ matricula.descricao_modalidade }}
                            </td>

                            <td>
                                {{ matricula.qtde_aulas }}
                            </td>

                            <td>

                                <a
                                    href="{% url 'gym:matriculas_detalhes' matricula.codigo_matr %}"
                                    class="btn btn-verde"
                                >
                                    Ver detalhes
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <div class="card">

            <h2>Nenhuma matrícula cadastrada</h2>

            <p>
                Ainda não existem matrículas cadastradas no sistema.
            </p>

            <a
                href="{% url 'gym:matriculas_cadastrar' %}"
                class="btn"
            >
                Cadastrar primeira matrícula
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}