{% extends "gym/base.html" %}

{% block title %}
    Alunos - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>

            <h1>ALUNOS</h1>

            <p>
                Gerencie os alunos cadastrados na academia.
            </p>

        </div>

        <a
            href="{% url 'gym:alunos_cadastrar' %}"
            class="btn"
        >
            + Novo aluno
        </a>

    </div>


    {% if alunos %}

        <div class="table-container">

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Data de nascimento</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Ações</th>
                    </tr>

                </thead>

                <tbody>

                    {% for aluno in alunos %}

                        <tr>

                            <td>
                                {{ aluno.codigo }}
                            </td>

                            <td>
                                {{ aluno.nome }}
                            </td>

                            <td>
                                {{ aluno.data_nascimento }}
                            </td>

                            <td>
                                {{ aluno.peso }} kg
                            </td>

                            <td>
                                {{ aluno.altura }} m
                            </td>

                            <td>

                                <a
                                    href="{% url 'gym:alunos_detalhes' aluno.codigo %}"
                                    class="btn btn-verde"
                                >
                                    Ver detalhes
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <div class="card">

            <h2>Nenhum aluno cadastrado</h2>

            <p>
                Ainda não existem alunos cadastrados no sistema.
            </p>

            <a
                href="{% url 'gym:alunos_cadastrar' %}"
                class="btn"
            >
                Cadastrar primeiro aluno
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}