{% extends "gym/base.html" %}

{% block title %}
    Detalhes da Modalidade - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>

            <h1>DETALHES DA MODALIDADE</h1>

            <p>
                Informações da modalidade cadastrada.
            </p>

        </div>

    </div>


    <div class="detalhes-card">

        <div class="detalhes-item">

            <strong>
                Código
            </strong>

            <span>
                {{ modalidade.codigo_modalidade }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Descrição
            </strong>

            <span>
                {{ modalidade.descricao }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Professor
            </strong>

            <span>
                {{ modalidade.nome_professor }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Valor da aula
            </strong>

            <span>
                R$ {{ modalidade.valor_aula|floatformat:2 }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Limite de alunos
            </strong>

            <span>
                {{ modalidade.limite_alunos }}
            </span>

        </div>


        <div class="detalhes-item">

            <strong>
                Total de alunos
            </strong>

            <span>
                {{ modalidade.total_alunos }}
            </span>

        </div>


        <div class="form-actions">

            <a
                href="{% url 'gym:modalidades_editar' modalidade.codigo_modalidade %}"
                class="btn"
            >
                Editar modalidade
            </a>


            <a
                href="{% url 'gym:modalidades_excluir' modalidade.codigo_modalidade %}"
                class="btn btn-perigo"
            >
                Excluir modalidade
            </a>


            <a
                href="{% url 'gym:modalidades_lista' %}"
                class="btn btn-verde"
            >
                Voltar para modalidades
            </a>

        </div>

    </div>

</div>

{% endblock %}