{% extends "gym/base.html" %}

{% block title %}
    Modalidades - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>

            <h1>MODALIDADES</h1>

            <p>
                Gerencie as modalidades oferecidas pela academia.
            </p>

        </div>

        <a
            href="{% url 'gym:modalidades_cadastrar' %}"
            class="btn"
        >
            + Nova modalidade
        </a>

    </div>


    {% if modalidades %}

        <div class="table-container">

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Professor</th>
                        <th>Valor da aula</th>
                        <th>Limite de alunos</th>
                        <th>Total de alunos</th>
                        <th>Ações</th>
                    </tr>

                </thead>

                <tbody>

                    {% for modalidade in modalidades %}

                        <tr>

                            <td>
                                {{ modalidade.codigo_modalidade }}
                            </td>

                            <td>
                                {{ modalidade.descricao }}
                            </td>

                            <td>
                                {{ modalidade.nome_professor }}
                            </td>

                            <td>
                                R$ {{ modalidade.valor_aula|floatformat:2 }}
                            </td>

                            <td>
                                {{ modalidade.limite_alunos }}
                            </td>

                            <td>
                                {{ modalidade.total_alunos }}
                            </td>

                            <td>

                                <a
                                    href="{% url 'gym:modalidades_detalhes' modalidade.codigo_modalidade %}"
                                    class="btn btn-verde"
                                >
                                    Ver detalhes
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <div class="card">

            <h2>Nenhuma modalidade cadastrada</h2>

            <p>
                Ainda não existem modalidades cadastradas no sistema.
            </p>

            <a
                href="{% url 'gym:modalidades_cadastrar' %}"
                class="btn"
            >
                Cadastrar primeira modalidade
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}