{% extends "gym/base.html" %}

{% block title %}
    Professores - PowerOn
{% endblock %}

{% block content %}

<div class="home">

    <div class="page-header">

        <div>

            <h1>PROFESSORES</h1>

            <p>
                Gerencie os professores cadastrados na academia.
            </p>

        </div>

        <a
            href="{% url 'gym:professores_cadastrar' %}"
            class="btn"
        >
            + Novo professor
        </a>

    </div>


    {% if professores %}

        <div class="table-container">

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>

                </thead>

                <tbody>

                    {% for professor in professores %}

                        <tr>

                            <td>
                                {{ professor.codigo_prof }}
                            </td>

                            <td>
                                {{ professor.nome }}
                            </td>

                            <td>
                                {{ professor.endereco }}
                            </td>

                            <td>
                                {{ professor.telefone }}
                            </td>

                            <td>

                                <a
                                    href="{% url 'gym:professores_detalhes' professor.codigo_prof %}"
                                    class="btn btn-verde"
                                >
                                    Ver detalhes
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <div class="card">

            <h2>Nenhum professor cadastrado</h2>

            <p>
                Ainda não existem professores cadastrados no sistema.
            </p>

            <a
                href="{% url 'gym:professores_cadastrar' %}"
                class="btn"
            >
                Cadastrar primeiro professor
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}